[client]
ssl-ca=</Users/MOJ/Downloads/Download manager/securityProject>/ca-cert.pem
ssl-cert=</Users/MOJ/Downloads/Download manager/securityProject>/client-cert.pem
ssl-key=</Users/MOJ/Downloads/Download manager/securityProject>/client-key.pem

[mysqld]
ssl-ca=</Users/MOJ/Downloads/Download manager/securityProject>/ca-cert.pem
ssl-cert=</Users/MOJ/Downloads/Download manager/securityProject>/server-cert.pem
ssl-key=</Users/MOJ/Downloads/Download manager/securityProject>/server-key.pem 
